.login-content {
  display: flex;
  height: 100vh;
}

.block-left {
  width: 68.19%;
  position: relative;
  background-image: url(../../assets/images/login-bg.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.block-right {
  width: 31.81%;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form {
    width: 75%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      color: black;
      font-weight: 400;
      font-size: 18px;
      text-align: center;
      margin-bottom: 32px;
    }

    .form-group {
      position: relative;
      margin-bottom: 12px;
      width: 100%;

      ::placeholder {
        font-size: 14px;
        color: #222222;
        opacity: 1;
      }

      :-ms-input-placeholder {
        color: #222222;
        font-size: 14px;
      }

      ::-ms-input-placeholder {
        color: #222222;
        font-size: 14px;
      }

      ::-webkit-input-placeholder {
        color: #222222;
        font-size: 14px;
      }

      .form-label {
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 14px;
        color: #222222;
        margin-bottom: 8px;
      }

      .form-input {
        background-color: transparent;
        width: 100%;
        height: 40px;
        font-size: 10px;
        padding: 10px;
        border: 1px solid #222222;
        border-radius: 10px;
        position: relative;
      }

      .input-icon {
        z-index: 9;
        position: absolute;
        left: 17.5px;
        top: 70%;
        transform: translateY(-50%);
        width: auto;
        height: auto;
      }

      .form-input-label {
        padding-left: 9px;
      }
    }

    .forgot-password {
      text-decoration: underline;
      font-weight: 700;
      margin-bottom: 32px;
      font-size: 14px;
      color: #53565A;
      cursor: pointer;
    }

    .form-group.focused .form-input {
      border-color: grey;
    }

    .toggle-password-icon {
      position: absolute;
      right: 10px;
      top: 67.5%;
      transform: translateY(-50%);
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }

  .forgot-password-form {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .block-title {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .form-label {
      font-size: 14px;
      margin-bottom: 8px;
    }

    .logo {
      width: 330px;
      height: 77px;
      margin-bottom: 24px;
    }

    p {
      color: black;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      margin-bottom: 32px;
    }

    .input-icon {
      z-index: 9;
      position: absolute;
      left: 17.5px;
      top: 70%;
      transform: translateY(-50%);
      width: auto;
      height: auto;
    }

    .form-group {
      position: relative;
      margin-bottom: 12px;
      width: 100%;
    }

    .form-input {
      background-color: transparent;
      width: 100%;
      height: 40px;
      font-size: 12px;
      padding: 10px;
      border: 1px solid #222222;
      border-radius: 10px;
    }
  }

  .buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .signin-button {
      width: 100%;
      height: 40px;
      background-color: white;
      color: black;
      border: black solid 2px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 32px;
    color: black;
    text-align: left;
    margin-bottom: 32px;
  }

  .cancel-button {
    width: 100%;
    height: 40px;
    background-color: white;
    color: #222222;
    border: 2px solid #222222;
    border-radius: 10px;
    cursor: pointer;
  }

  .send-button {
    width: 100%;
    height: 40px;
    background-color: #404040;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .warning {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    color: red;
    margin-top: 5px;
    height: 20px;
    
    p {
      color: red;
      font-size: 12px;
      font-weight: 600;
    }
  }
}