.panel {
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #e6e6e6;
  
    main {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        width: 55%;
      }
    }
  
  }