.content {
  height: 100%;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  gap: 3%;

  .nav-area {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;

    .title-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      min-height: 100px;
      min-width: 30%;

      h5 {
        font-size: clamp(0.5em, 20px, 1.5em);
        color: #53565A;
        font-weight: 400;
      }

      h4 {
        font-size: clamp(0.75em, 36px, 3em);
        color: #000;
        font-weight: 800;
      }
    }

    .hour-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      min-height: 100px;
      min-width: 20%;

      h5 {
        display: flex;
        justify-content: flex-end;
        font-size: clamp(0.5em, 20px, 1.25em);
        color: #53565A;
        font-weight: 400;
      }

      h4 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 3px;
        font-size: clamp(0.6em, 22px, 2em);
        color: #000;
        font-weight: 800;
      }
    }
  }

  .mode-select-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    width: 100%;
    padding-right: 25px;

    .mode {
      background: none;
      border: none;
      cursor: pointer;

      &.black {
        svg {
          color: black;
        }
      }
    }
  }

  .vacancies-frame-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    row-gap: 5%;
    column-gap: 1%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: #000 groove 1px;

    .vacancy {
      position: relative;
      display: flex;
      flex-direction: column;
      overflow: visible;
      width: 250px;
      max-width: 300px;
      height: 200px;
      max-height: 180px;
      border-radius: 15px;
      background-color: #D7FFE9;
      overflow-y: hidden;

      .vacancy-intro {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4.5%;
        border-radius: 15px;
        border: #35F387 solid 2px;
        gap: 5%;
        cursor: pointer;

        &:hover {
          border: #0ef170 solid 2px;
          background-color: #b3ffd5;
        }

        &.red {
          border: #f20d18 solid 2px;
          background-color: #fcb6b6;

          &:hover {
            border: #F43841 solid 2px;
            background-color: #fb9d9d;
          }
        }

        span {
          cursor: default;
        }
      }

      .more-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        width: 100%;
        max-height: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        bottom: -30px;
        left: 0;
        opacity: 0;
        cursor: pointer;
        transform: translateY();
        transition: opacity 500ms ease, transform 500ms ease;

        &.open {
          opacity: 1;
          transform: translateY(-30px);
          overflow: visible;
          height: 100%;
          background-color: #fff;
          border-radius: 15px;
          border: #ccc solid 2px;
          max-height: 300px;
          z-index: 5;
        }

        svg {
          cursor: pointer;
        }

        span {
          font-weight: 700;
          letter-spacing: 1px;
          font-size: 14x;
        }

        .button-container {
          display: flex;
          gap: 10px;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 35px;

          .button {
            display: flex;
            border: #0ef170 solid 2px;
            background: none;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 90%;
            border-radius: 50px;

            &:hover {
              border: #0ef170 solid 2px;
              background-color: #b3ffd5;
            }

            &.red {
              border: #f20d18 solid 2px;
              background-color: #fcb6b6;

              &:hover {
                border: #F43841 solid 2px;
                background-color: #fb9d9d;
              }
            }
          }
        }

        .license-plate {
          color: #F43841;
          font-weight: 700;
        }
      }
    }

    app-table-list {
      width: 100%;
      height: 100%;
    }
  }

  .vacancies-frame-container::-webkit-scrollbar {
    display: none;
  }

  .vacancier-table-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}