.modal-properties-content {
    padding: 15px;
    background: #F4F4F4;
    width: 65vw;
    height: 90vh;

    .header-area {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 16px;
  
      h4 {
        font-size: clamp(0.75em, 24px, 2em);
        color: #000;
      }
  
      button {
        border: none;
        background: #000;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
        margin-right: 12px;
      }
    }
    
  .card-info {
      height: 75vh;
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 15px;
      padding: 12px;
      margin-bottom: 12px;
 
      &:first-child {
        margin-top: 32px;
      }
  
      &:last-child {
        margin-bottom: 12px;
      }

      .flex-card{
        display: flex;
        height: 50%;
        margin-bottom: 12px;
        gap: 20px;
      }
  
      .card-data {
        h5 {
          margin-top: 12px;
          font-size: 16px;
          font-weight: 500;
          color: #53565A;
  
        }
        &:first-child {
          h5 {
            margin-top: 0;
          }
        }
        .input-area {
          display: flex;
          flex-direction: row;
          gap: 12px;
  
          .row {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 12px;
          }
        }
      }
    }
  
    hr {
      border: 1px solid #000;
      border-radius: 5px;
      margin: 32px 0;
    }
  
    .title {
      font-size: clamp(0.75em, 24px, 2em);
      color: #000;
      margin-bottom: 24px;
    }
  
    .button-area {
      position: absolute;
      bottom: 4%;
      right: 3%;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-end;
      gap: 12px;
    }
  
    .delete {
      border: 1px solid #af2b0b;
      margin-top: 0.9em;
  
      &:hover {
        background: #af2c0b45;
      }
    }
  }
  