:host {
    .container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 4px 16px;
        box-sizing: border-box;
        width: 100%;
        height: 65px;
        background: #F4F4F4;
        box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.5);
        top: 0;
        right: 0;
        position: fixed;

        .user-area {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;

            .notification-area {
                .button {
                    position: relative;
                    cursor: pointer;
                }

                svg {
                    height: var(--font-24);
                }
            }
        }

        .button {
            &.exit {
                span {
                    margin-top: 1px;
                    font-size: 16px;
                    font-weight: 600;
                    color: white;
                }
            }
        }
    }
}