.sidenav {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F4F4;
  transition: 0.5s;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.5);

  i {
    padding-right: 10px;
    font-size: 30px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 99%;
    height: 15%;

    .conecta-logo {
      width: 75%;
      height: 100%;
      display: flex;
      justify-content: center;
    }

    .toggle-button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      button {
        width: fit-content;
        border: none;
        background-color: #F4F4F4;
        cursor: pointer;
        color: #000000;
      }

      button i {
        font-size: 35px;
      }
    }
  }

  .nav-list {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    .list-container {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 85%;
      height: 70%;

      .list-item {
        border-radius: 18px;
        width: 100%;
        height: clamp(30px, 50px, 22.201248vh);

        &:hover {
          box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 10%);
          background-color: #000000;

          svg {
            path {
              fill: white;
            }
          }

          span {
            color: white;
          }
        }

        &.active {
          background-color: #000000;

          span {
            color: white;
          }

          svg {
            path {
              fill: white;
            }
          }
        }
      }

      .icon {
        padding-right: 10px;
        width: 32px;
        height: 25px;
      }

      span {
        color: #000000;

        &:hover {
          color: #EFFCFF;
        }
      }

      .submenu {
        width: 75%;
        height: fit-content;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 20%;

        a {
          border-radius: 18px;
          cursor: pointer;
          margin-bottom: 2px;

          &.active {
            box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 30%);
            background-color: #000000;

            span {
              color: white;
            }
          }

          &:hover {
            background-color: #000000;

            span {
              color: #EFFCFF;
            }
          }
        }

        span {
          font-size: 12px;
          margin-left: 10%;
        }

        &::before {
          content: '';
          position: absolute;
          left: 18%;
          width: 2px;
          height: clamp(5em, 100px, 8em);
          background-color: #000000;
        }
      }
    }

  }
}