<div class="content">
    <div class="nav-area">
        <h4> Administração de Veículos </h4>
        <button type="submit" class="button" (click)="newVehicle()">
          <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.2001 17.5V10.5M10.2001 10.5V3.5M10.2001 10.5H17.2001M10.2001 10.5H3.20007" stroke="#EFFCFF" stroke-width="2.1" stroke-linecap="round"/>
          </svg>
          <span> Cadastrar Veículo </span>
        </button>
    </div>

    <div class="table-container">
        <app-table-list
        [displayedColumns]="displayedColumns"
        [dataList]="vehiclesList"
        [legends]="legends"
        [actions]="true"
        [editButton]="true"
        [deleteButton]="true"
        [viewButton]="true"
        (handleDeleteClick)="handleDeleteClick($event)"
        (handleEditClick)="editVehicle($event)"
        [pageSize]="12" 
        [length]="10"
      />
    </div>
  </div>
  
  <app-spinner *ngIf="isLoading"></app-spinner>
